// Variables
$color-primary: #060b35;
$color-hover: #00acdc;
$color-title-hover: #34568b;
$card-width: 200px;
$gap-x: 46px;
$gap-y: 48px;
$padding-vertical: 50px;
$padding-horizontal: 40px;
$transition: 300ms;
$font-family: 'Roboto', sans-serif;

// Reset
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Base styles
body {
  font-family: $font-family;
  background-color: #fff;
  color: $color-primary;
}

// Header styles
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-inline: 40px;
  background-color: white;

  .logo img {
    height: 40px;
  }

  &__nav {
    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      list-style: none;
      justify-content: center;
    }

    &-link {
      text-decoration: none;
      color: $color-primary;
      font-size: 12px;
      text-transform: uppercase;
      line-height: 60px;
      display: flex;
      align-items: center;
      transition: color $transition;

      &.is-active {
        position: relative;
        color: $color-hover;
        font-weight: 500;
      }

      &.is-active::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $color-hover;
      }

      &:hover {
        color: $color-hover;
      }
    }
  }
}

// Catalog styles
.catalog {
  padding: $padding-vertical $padding-horizontal;

  &__grid {
    display: grid;
    gap: $gap-y $gap-x;
    justify-content: center;
    grid-template-columns: 1fr;

    @media (min-width: 488px) {
      grid-template-columns: repeat(2, $card-width);
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, $card-width);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, $card-width);
    }
  }
}

// Card styles
.card {
  width: $card-width;
  background-color: #fff;
  padding: 32px 16px 16px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  transition: transform $transition;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__image {
    width: 160px;
    height: 134px;
    max-width: 100%;
    margin-bottom: 40px;
  }

  &__title {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 4px;
    transition: color $transition;
  }

  &__code {
    font-size: 10px;
    color: #777;
    margin-bottom: 16px;
    align-self: start;
  }

  &__rating {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 4px;
    margin-bottom: 24px;
  }
  &__stars {
    display: flex;
    gap: 4px;
  }

  &__reviews {
    font-size: 10px;
    color: #777;
    margin-left: 6px;
  }

  &__price-box {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &__price-label {
    font-size: 14px;
    color: #000;
  }

  &__price {
    font-weight: bold;
    font-size: 18px;
  }

  &__btn {
    height: 40px;
    background-color: $color-hover;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border: none;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    transition: all $transition;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    transform: scale(1.2);
    z-index: 2;

    .card__title {
      color: $color-title-hover;
    }

    .card__btn {
      background-color: #fff;
      color: $color-hover;
      border: 1px solid $color-hover;
    }
  }
}
